@model string
<form action="/order/buyer/add" method="post">
  <div>
    <label for="OwnerName">Name:</label>
    <input type="text" id="OwnerName" name="OwnerName" required />
  </div>
  <div>
    <label for="OwnerContact">Phone num:</label>
    <input type="text" id="OwnerContact" name="OwnerContact" required />
  </div>
  <div>
    <label for="Menu">Menu:</label>
    <input type="text" id="Menu" name="Menu" required />
  </div>
  <div>
    <label for="Location">Location:</label>
    <input type="text" id="Location" name="Location" required />
  </div>
  <div>
    <label for="Price">Price:</label>
    <input type="number" id="Price" name="Price" required />
  </div>
    <input id="AttachedHostId" name="AttachedHostId" value="@Model" hidden/>
    <button type="submit">Submit</button>
</form>