@{
    ViewData["Title"] = "Home Page";
}
@using BookStoreApi.Models;

@model HomeIndex
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Just+Another+Hand" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@0;1&display=swap" rel="stylesheet">

</head>

    <!-- top-bar -->
    <div class="top-bar">
        <div class="text-center logo">
            FOODY
        </div>

    </div>
    <!-- status-bar -->

    @if (Model.UserId.HasValue)
    {
        <div class="status-bar">
            <div>
                @foreach (string item in Model.Aliases)
                {
                    @item
                    <label> </label>
                }
            </div>
            <div>
                #@Model.UserId
            </div>
        </div>
    }

    <div style="height: 12vh"></div>
    <!-- post -->
    <div>
        @foreach (var item in Model.Hosts)
        {
            string closeTime = DateTimeOffset.FromUnixTimeMilliseconds(item.Value.Closed).ToLocalTime().ToString("h:mm tt");
            <div class="container bg-black p-3 my-status-card">
                <div class="row">
                  <div class="col-sm-3 flexbox" >
                    <label  for="fname">@item.Value.OwnerName</label>
                  </div>
                  <div class="col-sm-9 flexbox "  >
                    <p> อยู่: @item.Value.Location</p>
                    <div class="flexbox" style="padding-right: 3vh;">
                        <img src="http://www.clker.com/cliparts/R/d/z/v/H/1/neon-green-dot-hi.png" style="width: 25px;">
                    </div>
        
                  </div>
                  <div class="col-sm-1" >
        
                    
                
                </div>
        
                <div class="row">
                  <div class="col-sm-3 flexbox">
                    <label  for="tag">#@item.Value.OwnerUserId</label>
                  </div>
                  <div class="col-sm-9 flexbox" >
                    <p>จะไป: @item.Value.TargetLocation</p>
                  </div>
        
                </div>
                <div class="row">
                    <div class="col-sm-12 flexbox">
                        <a href="/order/buyer/@item.Value.Id">
                        
                            <input
                            class="pink-button2 mt-4 mx-1"
                            type="submit"
                          
                            value="ฝากซื้อ"
                          />
                        </a>
                      <div class="col-sm-12 flexbox" >
                        <label  for="fname">รับแล้ว @item.Key/@item.Value.Limit รายการ</label>
                      </div>
                    </div>
                    <div class="col-sm-12 endedflex" >
                        ปิด @closeTime
                    </div>
          
                  </div>
        
        
        
            </div>

        </div>
        <div style="height: 2vh"></div>
        }
    </div>
    

    </div>
    <div style="height:  15vh;">
    <!-- footer -->
    <footer class="sticky-footer ">
    <a href="/order/host">

        <div class="plus-button ">
            
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
            </svg>
        </div>
    </a>
    <a href="/list/host">
        <div class="list-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 6l11 0"></path>
                <path d="M9 12l11 0"></path>
                <path d="M9 18l11 0"></path>
                <path d="M5 6l0 .01"></path>
                <path d="M5 12l0 .01"></path>
                <path d="M5 18l0 .01"></path>
            </svg>
        </div>
    </a>

    </footer>
